@model districtProject.Models.District

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>District</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.district_name_thai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.district_name_thai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.district_name_eng)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.district_name_eng)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MultipleDistrict.multiple_district_name_thai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MultipleDistrict.multiple_district_name_thai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.district_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
